h1{
    font-family: Lucida Handwriting;
    text-align: center;
}
form{
    font-style: italic;
    font-size: 10pt;
    font-family: monospace;
    color: black;
   
}

.card{
    background-image: linear-gradient( 64.3deg,  rgba(254,122,152,0.81) 17.7%, rgba(255,206,134,1) 64.7%, rgba(172,253,163,0.64) 112.1% );
    border-radius: 50px;


}
button{
    margin: 4px;
}