<!-- *********tabla****************** -->
<div class="container mt-4">
  <h1>LISTA DE USUARIOS</h1>
    <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" class="rounded mx-auto d-block" width="350"> -->
    <br>
    <div class="row">
      <div class="col">
        <table class=" table table-dark">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Username</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th scope="col">Website</th>
              
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr *ngFor="let item of arrayList">
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>{{item.username}}</td>
              <td>{{item.email}}</td>
              <td>{{item.phone}}</td>
              <td>{{item.website}}</td>
              
            </tr>
          </tbody>
  
        </table>
  
      </div>
    </div>
  </div>
